*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.menu a:hover{
    color: yellow;
}

.navbar a:hover{
    color: yellow;
}

#h3-tag{
    /* font-size: 60px; */
    color: white;
    transition: 0.6s;
}

#h3-tag:hover{
    -webkit-text-stroke: 2px yellow ;
    color: transparent;
   font-size: 50px;
}
#h1-tag{
    /* font-size: 60px; */
    color: white;
    transition: 0.6s;
}

#h1-tag:hover{
    -webkit-text-stroke: 2px yellow ;
    color: transparent;
    font-size: 50px;
}


/* .top-bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
.box{
    transition: 1s;
}
.box img{
    
    
    display: block;
}

.box:hover{
    transform: scale(1.1);
    z-index: 1;
}

.pages{
    transition: 1s;
}

.pages img{
    display: block;

}
.pages:hover{
    transform: scale(1.1);
    z-index: 1;
}
 







